nav 
{
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(207,207,207);
    position: relative;
}

#logo
{
    font-size: 30pt;
    color: black;
    font-weight: 700;
    margin-left: 10%;
}

div.collaps
{
    position: absolute;
    right: 4%;
}

div.collaps > a > img
{
    width: 45px;
    height: 45px;
    margin: 0px 8px;
}